body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #058e17;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #004085;
  border-radius: 5px;
  background-color: #fff;
}

button {
  background-color: #004085;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

pre {
  text-align: left;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 600px;
  margin: 20px auto;
}

p {
  color: red;
}
.results {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.result-item {
  width: 50%;
  background-color: #c7d9db;
  color: #01579b; /* Azul escuro */
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; /* Centraliza o texto dentro do item */
  margin-bottom: 10px; /* Espaço entre os itens */
  transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
  border-radius: 15px; /* Bordas arredondadas */
}

.result-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra preta ao passar o cursor */
  background-color: #aabcbe;
}

.dark-blue-text {
  color: #012744; /* Azul escuro */
  font-weight: bold; /* Negrito */
}





